h1{
    font-size: 2.5em;
    text-align: center;
    font-family: 'Monda', sans-serif;
}

h2{
    font-size: 1.9em;
    font-family: 'Monda', sans-serif;
}

.hero {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    line-height: 1.6;
    height: 100vh;
}