.hero-h1{
    font-size: 2.5em;
    text-align: center;
    font-family: 'Monda', sans-serif;
}

.hero-h2{
    font-size: 1.9em;
    font-family: 'Monda', sans-serif;
}

.hero {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    line-height: 1.6;
    height: 100vh;
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: url('../../screenshots/nature.jpg');
        background-repeat: no-repeat;
        background-position: center; 
        background-size: cover
    }

    .hero-h1{
        color: #f5f1da;
        text-shadow: 2px 2px #43658b;
    }
    
    .hero-h2{
        color: #f5f1da;
        text-shadow: 3px 3px #43658b;
    }

    main {
        padding: 0;
    }
}