body {
  margin: 0;
  font-family: 'Monda', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(176deg, #cedebd 0%, #86c4ba 90%);
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p {
  text-align: left;
  padding: 10px 5vw;
  
}

h1{
  font-size: 2.5em;
  text-align: center;
  font-family: 'Monda', sans-serif;
}

h2{
  font-size: 1.9em;
  font-family: 'Monda', sans-serif;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 20px;
  
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 25px
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 24px;
  }

  
}